@use "@material/theme" with (
    $on-surface: #000,
    $primary: #5E35B1, // deep purple 600
    $on-primary: #fff,
    $secondary: #8E24AA, // purple 600
    $on-secondary: #fff,
    $background: #fff,
);
$divider-color: rgba(theme.prop-value(on-surface), 0.12);

@use "@material/typography" with (
    $font-family: unquote("Nunito, sans-serif"),
    $styles-button: (
        font-weight: 700
    )
);

@use "@material/elevation";

@use "@material/animation";
@use "@material/tab-bar";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@use "@material/button";
@use "@material/button/mdc-button";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,900");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$cl-purple: #5E35B1;
$cl-purple-mid: #742bff;
$cl-purple-light: #9258FF;
$cl-gray: #6d6d6d;
$cl-gray-mid: #e6e6e6;
$cl-gray-light: #f6f5f4;

* {
    box-sizing: border-box;
}

// Material Components

.mdc-button {
    @include button.density(-2);
}

.mdc-tab-bar {
    @include tab-bar.density(-2);
    user-select: none;
}

// --------------------

.tab-view {
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 100%;
    border-top: 1px solid $divider-color;

    .tab-view-page {
        grid-row: 1;
        position: relative;
        top: 0;
        left: calc(var(--tab-view-current-index) * -100%);
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: block;

        transition-property: left, visibility, opacity;
        transition-duration: 175ms;
        transition-timing-function: animation.$standard-curve-timing-function;

        &[aria-expanded=true] {
            visibility: visible;
            // opacity: 1.0;
            z-index: 1;
        }
        &:not([aria-expanded=true]) {
            visibility: hidden;
            // opacity: 0.5;
            z-index: 0;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background: white;
    color: $cl-gray;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    overflow: hidden;

    --grid-view--bg-color:                 #{$cl-gray-light};
    --grid-view--fg-color:                 #{$cl-gray};
    --grid-view__header--divider-color:    #{$divider-color};
    --grid-view__header--bg-color:         #{$cl-gray-light};
    --grid-view__header--active-bg-color:  #{$cl-gray-mid};
    --grid-view__header--fg-color:         #{$cl-gray};
    --grid-view__header--active-fg-color:  #{$cl-gray};
    --grid-view__tile--default-bg-color:   #{$cl-gray-light};
    --grid-view__tile--default-fg-color:   #{$cl-gray};

    --minimap--bg-color:                   #{rgba(#fff, 1)};
    --minimap--overlay-color:              #{rgba($cl-gray-light, 0.0)};
    --minimap--overlay-hover-color:        #{rgba($cl-gray-light, 0.5)};
    --minimap--overlay-border-color:       #{rgba(#000, 0.5)};
    --minimap--overlay-hover-border-color: #{rgba(#000, 0.7)};
}

#grid-view-app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    grid-template:
        "header side-header" 48px
        "grid-view side-panel" calc(100vh - 48px) //minmax(0, 1fr)
        / calc(100vw - 320px) 320px; //1fr 320px;

    %app-header {
        background-color: white;
        color: $cl-purple;
        border-bottom: 1px solid $divider-color;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        line-height: 1em;
    }

    #header {
        @extend %app-header;
        grid-area: header;
        background-color: white;
        color: $cl-purple;
        border-bottom: 1px solid $divider-color;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        line-height: 1em;

        h1 {
            font-size: 18px;
            font-weight: 700;
            margin: 0 16px;
            align-self: center;

            > :not(:first-child) {
                &:before {
                    font-family: "Material Icons";
                    // font-size: 18px;
                    content: "chevron_right";
                    display: inline-block;
                    vertical-align: bottom;
                    opacity: 0.5;
                }

                &:empty {
                    display: none;
                }
            }

            > :not(:last-child) {
                font-weight: 400;
            }

            a {
                &[href] {
                    color: unset;
                    text-decoration-color: rgba($cl-purple, 0.25);

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    #side-header {
        @extend %app-header;
        grid-area: side-header;
        border-left: 1px solid $divider-color;

        h2 {
            font-size: 18px;
            font-weight: 700;
            margin: 0 16px;
            align-self: center;

            > span:not(:last-child) {
                font-weight: 400;

                &:after {
                    font-family: "Material Icons";
                    // font-size: 18px;
                    content: "chevron_right";
                    display: inline-block;
                    vertical-align: bottom;
                    opacity: 0.5;
                }
            }
        }
    }

    .grid-view {
        grid-area: grid-view;
    }
    #grid-view {
        grid-area: grid-view;
        background-color: $cl-gray-light;
        overflow: auto;
        cursor: arrow;
        user-select: none;

        #grid-view-grid {
            font-size: 0.8em;

            width: min-content;
            height: min-content;

            position: relative;
            z-index: 0;
            gap: 1px;

            display: grid;
            grid-template-columns: min-content;
            grid-template-rows: min-content;
            grid-auto-columns: var(--column-width, 1fr);
            grid-auto-rows: 1fr;

            &[hidden] {
                display: none;
            }
        }
    }
    #side-panel {
        grid-area: side-panel;
        background-color: white;
        border-left: 1px solid $divider-color;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-width: 320px;
        max-width: 320px;
        width: 320px;

        .side-panel-content {
            flex-grow: 1;

            .tab-view-page-content {
                padding: 16px;

                .action-link {
                    width: 100%;
                    margin-top: 16px;
                }

                h3 {
                    color: $cl-purple;
                    margin: 16px 0;
                    font-size: 16px;
                    font-weight: 700;
                    &:first-child { margin-top: 0; }
                }

                p {
                    margin: 0 0 8px 0;
                }

                h4 {
                    color: $cl-purple;
                    margin: 16px 0;
                    font-size: 14px;
                    font-weight: 700;
                    &:first-child { margin-top: 0; }
                }

                var {
                    font-family: monospace;
                    font-style: normal;
                }

                ul {
                    margin: 0 0 8px 0;
                    padding: 0;
                    list-style: none;
                    li {
                        &::before {
                            display: inline-block;
                            width: 2ex;
                            text-indent: 0;
                            content: "\2022";
                        }
                        text-indent: -2ex;
                        padding: 0 0 0 2ex;
                        margin: 0;
                    }
                }

                dl {
                    margin: 0 0 8px 2em;

                    dt {
                        display: inline;
                        margin: 0 0 0 -2em;
                        font-weight: bold;
                        &:after { content: ":"; }
                    }
                    dd {
                        display: inline;
                        margin: 0 0 0 1ex;
                        &:after {
                            content: '\A';
                            display: block;
                            margin: 0 0 8px 0;
                        }
                        &:last-of-type:after { margin-bottom: 0; }
                    }
                }
            }
        }
    }
}
